.app-container {
  display: flex;
  min-height: 100vh;
}
.content {
  padding: 20px 24px;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e7f6;
}

.title {
  font-size: 24px;
  font-weight: 900;
  color: #131d35;
}
.subtitle {
  font-size: 14px;
  color: #445473;
}
.button-group {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.filter-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.filter-options {
  flex-direction: column;
  gap: 12px;
  color: #2a3551;
  font-size: 14px;
}
.filter-label {
  display: none;
}
.filter-buttons {
  border: 1px solid #becbe4;
  border-radius: 8px;
  display: inline-flex;
  width: auto;
}
.filter-button {
  border-right: 1px solid #becbe4;
  padding: 8px 16px;
  cursor: pointer;
}
.filter-button:last-child {
  border-right: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.filter-button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.filter-button.selected {
  background-color: #f1f1fe;
}
.search-input {
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
  }
  .button-group {
    flex-direction: row;
  }

  .filter-options {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .filter-label {
    display: block;
  }

  .search-input {
    max-width: 360px;
  }
}
@media (min-width: 1150px) {
  .filter-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .buyer-select {
    margin-top: 16px;
  }
}
